/* --------------collection container--------- */
.centerhead {
  display: block;
  width: 100%;
  text-align: center;
}
.centerhead span {
  color: black;
  font-size: var(--fontsize-emedium);
  font-weight: 600;
}
.colecimg {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
  display: block;
  user-select: none;
}
.colecitem {
  border: 0;
}
.colecitem.active {
  background-color: var(--org-primary);
  padding: 0.3rem;
}
.categorycont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
