.logininputcont.passinputcont {
  width: 50%;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center;
}

.logininput {
  margin-top: 15px;
  width: 100%;
}

.logininputcont input {
  width: 100%;
}

.submitbtncont.passresetbtncont {
  width: 50%;
  margin: 2.5rem auto;
}

.submitbtn.passresetbtn {
  width: 95%;
}
.passlocksvg {
  width: 8.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  padding: 1.5rem;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}
.passlocksvg svg {
  width: 100%;
  height: 100%;
  fill: var(--org-primary);
  display: block;
}
.errorstate {
  font-size: 1.2rem;
  color: red;
}

.smallspinner {
  display: none;
  height: 10.5rem;
}

/* ***************************************
**************Responsiveness***********
*************************************** */

@media (max-width: 850px) {
  .logininputcont.passinputcont {
    width: 70%;
  }
  .submitbtncont.passresetbtncont {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .logininputcont.passinputcont {
    width: 90%;
  }
  .submitbtncont.passresetbtncont {
    width: 85%;
  }
  .smallspinner {
    display: block;
  }
  .bigspinner {
    display: none;
  }
}
